PORT=
DATABASE_URL=
JWT_ACCESS_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=
DOMAIN=
# GENERATE PRIVATE KEY USING THIS COMMAND - openssl genrsa -out private.pem 2048
PRIVATE_KEY_PATH="./private.pem"
# GENERATE PUBLIC KEY USING THIS COMMAND - openssl rsa -in private.pem -pubout -out public.pem
PUBLIC_KEY_PATH="./public.pem"
