PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
JWT_ACCESS_TOKEN_EXPIRY="10m"
JWT_REFRESH_TOKEN_EXPIRY="7d"
DOMAIN=http://localhost
# GENERATE PRIVATE KEY USING THIS COMMAND - openssl genrsa -out private.pem 2048
PRIVATE_KEY_PATH="./private.pem"
# GENERATE PUBLIC KEY USING THIS COMMAND - openssl rsa -in private.pem -pubout -out public.pem
PUBLIC_KEY_PATH="./public.pem"
